﻿@page "/create"
@layout MainLayout
@inject ITodoService todoService
@inject ICategoryService categoryService
@inject NavigationManager navigationManager
@inject HttpClient _httpClient
@inject ISnackbar Snackbar
@using System.ComponentModel.DataAnnotations


<MudPaper Elevation="0" Class="d-flex px-4 justify-center mt-6">
    <MudPaper Elevation="0" Width="600px">
        <MudElement HtmlTag="h1" Class="mx-3">
            New Todo
        </MudElement>
        <EditForm Model="@modelTodo" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCard Elevation="0">
                <MudCardContent>
                    <MudTextField Variant="Variant.Outlined" HelperText="Add Task"
                                  @bind-Value="modelTodo.Title" For="@(() => modelTodo.Title)" />
                    <MudDatePicker Label="Choose Date" @bind-Text="@modelTodo.DueDate" InputVariant="Variant.Outlined" Class="mt-3" />
                    
                    <CategoryList Lists="categorie" SelectedCategoryChanged="@OnSelectedCategoryChanged" OnCreateCategory="@CreateCategory" />
                    <MudTextField Variant="Variant.Outlined" Label="Write description" HelperText="Description..." Class="mt-3"
                                  @bind-Value="modelTodo.Description" For="@(() => modelTodo.Description)" InputType="InputType.Text" Lines="7" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" FullWidth="true" Color="Color.Tertiary" Class="ml-auto">Create</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </MudPaper>
</MudPaper>


@code {

    Todo modelTodo = new Todo();

    MudChip selected { get; set; }
    Category[] categorie { get; set; }


    protected override async Task OnInitializedAsync()
    {
        modelTodo.DueDate = DateTime.Today.ToString("yyy-M-d");
        categorie = await _httpClient.GetFromJsonAsync<Category[]>("category");
    }


    async void CreateCategory(Category arg)
    {
        try
        {
            await categoryService.CreateCategoryAsync(arg);
            categorie = await _httpClient.GetFromJsonAsync<Category[]>("category");
        }
        catch (Exception ex)
        {

            Console.WriteLine("exception", ex);
        }

    }

    void OnSelectedCategoryChanged(MudChip arg)
    {
        Console.WriteLine("category changed", arg.Tag);
        modelTodo.CategoryId = new Guid(arg.Tag.ToString());
    }


    private async void OnValidSubmit(EditContext context)
    {
        Console.WriteLine("submit", modelTodo.CategoryId.ToString());
        if(modelTodo.CategoryId.ToString().Length > 0)
        {
            await todoService.CreateTodoAsync(modelTodo);
            Snackbar.Add("Todo Created!");
            navigationManager.NavigateTo("");
        } else
        {
            Snackbar.Add("Please select category");
        }

    }

}
