﻿@page "/"
@inject IIndexViewModel IndexVM 
@layout MainLayout



<AuthorizeView>
    <Authorized>
        <MudGrid>
            <MudItem xs="12" md="12">
                <MudPaper Elevation="0" Class="d-flex align-center justify-center" Square="true" Style="height:250px; background: url(images/budding-trio-banner.png)">
                    <MudPaper Elevation="0" Class="pa-2 mx-2">
                        <h1 id="userWelcome" class="m-5 green-text text-darken-1">Hello @context.User.Identity.Name!</h1>
                    </MudPaper>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudPaper Elevation="0" Class="d-flex align-start justify-center py-2 px-1">
                    <MudPaper Width="550px" Elevation="0" Class="pa-2 mx-2">
                        <MudText Typo="Typo.caption">Filter Category </MudText>
                        <CategoryList Lists="IndexVM.categorie" SelectedCategoryChanged="IndexVM.OnSelectedCategoryChanged" OnCreateCategory="IndexVM.CreateCategory" />
                    </MudPaper>

                </MudPaper>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudPaper Elevation="0" Class="d-flex align-start justify-center py-2 px-1">
                    <MudPaper Elevation="0" Width="550px" Class="mx-2">
                        <TodoList todos="todos"></TodoList>
                    </MudPaper>

                </MudPaper>
            </MudItem>
            <MudFab Color="Color.Tertiary" Link="/create" Icon="@Icons.Material.Filled.Add" Style="position: fixed; bottom: 20px; right: 20px" />
        </MudGrid>
    </Authorized>
    <Authorizing>
        <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
    </Authorizing>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync() {
        await IndexVM.OnInitializedViewModel();
    }
} 