﻿@page "/login"
@layout AuthLayout
@inject NavigationManager navigationManager
@inject CustomAuthStateProvider authStateProvider
@using System.ComponentModel.DataAnnotations


<MudPaper Elevation="0" Class="d-flex justify-center py-2 px-1 mt-6">
    <MudPaper Elevation="0" Class="pa-2 mx-2">
        <div style="max-width: 400px;">
            <EditForm Model="model" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <MudCard>
                    <MudCardContent>
                        <MudTextField id="username" Label="Username" HelperText="Max. 8 characters"
                                      @bind-Value="model.UserName" For="@(() => model.UserName)" />
                        <MudTextField id="password" Label="Password" HelperText="Choose a strong password" Class="mt-3"
                                      @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password" />
                        <MudCheckBox @bind-Checked="model.RememberMe" Label="Remember Me"></MudCheckBox>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Login</MudButton>
                    </MudCardActions>
                </MudCard>
                <MudText Typo="Typo.body2" Align="Align.Center" Class="my-4">
                    Fill out the form correctly to see the success message.
                </MudText>

                <MudExpansionPanels>
                    <MudExpansionPanel Text="Show Validation Summary">
                        @if (success)
                        {
                            <MudText Color="Color.Success">Success</MudText>
                        }
                        else
                        {
                            <MudText Color="@Color.Error">
                                <ValidationSummary />
                            </MudText>
                        }
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </EditForm>
        </div>
    </MudPaper>
</MudPaper>



@code {
    LoginModel model = new LoginModel();
    bool success;

    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            await authStateProvider.Login(model);
            navigationManager.NavigateTo("");
           
        }
        catch (Exception)
        {

            success = false;
        }
    }

}