﻿@using System.ComponentModel.DataAnnotations


<MudChipSet @bind-SelectedChip="selected" SelectedChipsChanged="OnSelectedChipChange" Mandatory="true">
    <MudChip Size="Size.Large" Variant="Variant.Filled" Text="New">
        <MudIcon Icon="@Icons.Material.Filled.Add" Title="Add" />
    </MudChip>
    @if (Lists == null)
    {
         <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
    }
    else
    {
        @foreach (var category in Lists)
        {
           <MudChip Size="Size.Large" Variant="Variant.Filled" Text="@category.CategoryName" Tag="@category.Id"></MudChip>
        }
    }




</MudChipSet>

<MudMessageBox @ref="mbox" Title="New Category" CancelText="Cancel">
    <MessageContent>
        <MudGrid>
            <MudItem xs="12" sm="12" md="12">
                <MudTextField Variant="Variant.Outlined" HelperText="Add Task"
                              @bind-Value="modelCategory.CategoryName" For="@(() => modelCategory.CategoryName)" />
            </MudItem>
        </MudGrid>

    </MessageContent>
    <YesButton>
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Create" Color="Color.Primary" Class="ml-auto">Create Category</MudButton>
    </YesButton>
</MudMessageBox>

@code {

    [Parameter]
    public Category[] Lists { get; set; }
    [Parameter] public EventCallback<MudChip> SelectedCategoryChanged { get; set; }
    [Parameter] public EventCallback<Category> OnCreateCategory { get; set; }
    MudMessageBox mbox { get; set; }
    MudChip selected;


    Category modelCategory = new Category();


    private async void OnSelectedChipChange()
    {
        if (selected.Text == "New")
        {
            bool? result = await mbox.Show();
            if (result != null)
            {
                await OnCreateCategory.InvokeAsync(modelCategory);
            }

        } else
        {

            await SelectedCategoryChanged.InvokeAsync(selected);
        }
    }
}
