﻿<MudText Typo="Typo.caption" Class="pa-2">List</MudText>
<MudList Style="width:100%">
    @if (todos == null)
    {
        <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
    }
    else
    {
        @foreach (var todo in todos)
        {
            <MudListItem> <MudCheckBox @bind-Checked="@todo.Completed" Label="@todo.Title" Tag="@todo.Id" Color="Color.Tertiary"></MudCheckBox></MudListItem>
            <MudDivider />
        }

    }
</MudList>

@code {
    [Parameter]
    public Todo[] todos { get; set; }
    [Parameter]
    public EventCallback<string> onTodoCompleted { get; set; }

    void OnCheckChanged(ChangeEventArgs args)
    {

    }

}
